.leftBarContainer {
  flex: 0.35;
  background-color: white;
  border-radius: 0 20px 20px 0;
  height: 95%;
  align-self: center;
  display: flex;
  width: 100%;
}

.leftBarButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-right: 1px solid var(--border-color);
}

.leftBarContentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.leftBarContentContainer > div {
  width: 100%;
  height: 100%;
}

.leftBarArrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  border-bottom: 1px solid var(--border-color);
  height: 50px;
  color: var(--svg-color);
}

.leftBarArrows > :nth-child(1) {
  border-right: 1px solid var(--border-color);
}

.leftBarArrow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 0.2s ease-in-out;
}
.leftBarArrow:hover {
  background-color: var(--button-bg-color-hover);
}
