.textPageContainer {
  display: flex;
  flex-direction: column;
}

.textPageContainer input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-top: 10px;
}

.textPageContainer button {
  width: 100%;
  height: 35px;
  font-size: 16px;
  background-color: var(--button-bg-color-third);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.textHr {
  border: 1px solid var(--border-color);
  margin-top: 10px;
  margin-bottom: 10px;
}
