.reusableButtonPagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px rgb(153, 153, 153) solid;
  width: 100%;
  padding: 10px 10px;
  font-weight: bold;
  transition: all 0.2s ease;
}

.reusableButtonPagination:hover {
  transform: scale(1.05);
}

.reusableButtonReverseForward {
}

.reusableButtonFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
  border: 3px black solid;
  font-weight: bold;
  padding: 5px 10px;
  transition: all 0.2s ease;
}

.reusableButtonFooter:hover {
  transform: scale(1.05);
}

.buttonFooterCheckout {
  background-color: rgb(0, 174, 255);
  color: white;
  height: 50px;
  width: 100px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.buttonFooterCheckout:hover {
  transform: scale(1.05);
}
