.headerContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--border-color);
}

.headerContainer.buttons {
  border-bottom: none;
}

.headerTitle {
  font-size: 24px;
  color: var(--text-color);
}

.headerSubTitle {
  font-size: 18px;
  color: gray;
  margin-bottom: 10px;
}

.headerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.headerButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  cursor: pointer;
  border-bottom: 2px solid var(--border-color);
}

.selected {
  background-color: var(--button-bg-color-active);
  color: var(--text-color-active);
  border-bottom: 2px solid var(--text-color-active);
}
