.footerContainer {
  height: 50px;
  width: 95%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.footerLeft {
  flex: 1;
  text-align: left;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footerLeft > :nth-child(1) {
  border-radius: 15px 0 0 0;
}

.footerRight {
  flex: 0.4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
