.colorPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  color: var(--text-color);
}

/* --- DROPDOWN ANİMASYON --- */
.dropdownContent {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: max-height 0.35s ease, opacity 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdownContent.open {
  max-height: 100%; /* Max sınır */
  opacity: 1;
  pointer-events: auto;
}

.gradientSelectorContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 5px 0 10px 0;
}

.gradientSelectorButton {
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--border-color);
  padding: 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
}

.gradientSelectorButton.active {
  font-weight: 600;
  cursor: pointer;
  color: var(--text-color);
  background: var(--button-bg-color-active);
  border: 1px solid var(--border-color);
  padding: 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: var(--text-color-active);
}

/* Mevcut preset grid scroll çalışıyor */

.colorPickerTop {
  flex: 1;
}

.chooseColorTitle {
  font-size: 18px;
  font-weight: 600;
}

/* SECTION BOX */
.sectionBox {
  border-bottom: 1px solid var(--text-color);
  padding: 12px;
  border: 2px solid var(--border-color);
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.sketchPicker {
  width: 95% !important;
  /* border: red 2px solid; */
  border: none !important;
  box-shadow: none !important;
}

.gradientPickerContainer {
  margin-top: 12px;
}

/* PRESET COLORS SCROLL */
.presetColorsScroll {
  margin-top: 12px;
  max-height: 400px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}

.presetColorBox {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.presetColorBox.selected {
  border: 2px solid var(--button-bg-color-active);
}

.presetColorBox:hover {
  transform: scale(1.08);
  transition: 0.15s;
}

.presetColor {
  width: 28px;
  height: 28px;
  border-radius: 50px;
}

.gradientFeatures {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.colorPickerSettings {
  display: grid;
  grid-template-columns: 1fr auto 160px;
  align-items: center;
  gap: 12px;
  padding: 14px 16px;
}

.colorPickerSettingstitle {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

/* ortadaki değer */
.colorPickerSettingsValue {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.55);
  min-width: 50px;
  text-align: right;
}

.colorPickerSettingsInput {
  width: 100%;
  cursor: pointer;
}

/* LAST USED COLORS */
.lastUsedTitle {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 600;
  text-align: center;
}

.lastUsedColorHr {
  margin: 5px 0 10px 0;
  border: 1px solid var(--border-color);
}

.lastUsedColorsGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 6px;
}

.lastUsedColorBox {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  cursor: pointer;
}

.lastUsedColorBox:hover {
  transform: scale(1.1);
  transition: 0.15s;
}
