.loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0); /* başlangıç şeffaf */
  backdrop-filter: blur(0px); /* başlangıç blur = 0 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  opacity: 0;
  transition: opacity 0.4s ease, background 0.4s ease, backdrop-filter 0.4s ease;
}

.loading-overlay.active {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  opacity: 1;
}

.loading-box {
  background: rgb(255, 255, 255);
  padding: 24px;
  border-radius: 18px;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  transform: translateY(10px);
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.loading-overlay.active .loading-box {
  opacity: 1;
  transform: translateY(0);
}

.loading-gif {
  width: 96px;
  height: 96px;
  object-fit: contain;
}

.loading-text {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  animation: pulse 1.6s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
