@import url("https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&family=Playwrite+US+Trad+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-font: "Kedebideri", sans-serif;
  --border-color: #ddd;
  --svg-color: #505050;
  --text-color: #505050;
  --text-color-active: #00aeff;
  --button-bg-color-hover: #f4f8ff;
  --button-bg-color-second: #111111;
  --button-bg-color-active: #9ee0ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-weight: 600;
}

.App {
  background-color: #ececec;
}
