.headerContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 2px black solid;
}

.headerTitle {
  font-size: 24px;
}

.headerSubTitle {
  font-size: 18px;
  color: gray;
  margin-bottom: 10px;
}

.headerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

.selected {
  background-color: aqua;
}
